/* ========== Enter and Leave Transitions for Flag Image-Country Name pairs ============ */

/* Enter Transition */
.slide-fade-enter-active {
  transition: all .3s ease;
}

/* Leave Transition */
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}



/*============================== Elements ===============================================*/
/* Logo */
#logo {
    margin-top: 3%;
    width: 180px;
}


/*============================== Components and Containers ==============================*/

/* Containers within:
    -> Page Banner
    -> Contact
*/

/* Page Banner Container */
#page_banner_container {
    background-color: #4FC9B3;
    height: 14vh;
    border: 3px solid green;
    position: relative;
    background: linear-gradient(-90deg, #3bf29d, #edd471);
    box-shadow: 2px 5px 15px 2px grey;
    border-radius: 15px;
}

#page_banner_container p {
    text-align: center;
    color: #540A6D;
    font-size: 4vh;
    font-weight: 600;
    padding: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Countries Container */
#countries_container {
    background-color: #B3EDFA;
    min-height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 2px 5px 15px 2px grey;
    border-radius: 12px 12px 0 0;
}

#pre_search_message {
    font-size: 2.2em;
    color: #f8611b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    transform: translateY(30%);
}

/* Countries Component */
#country_component {
  padding: 20px;
  font-size: 0.7em;
}

/* Sub Headings for each of the input fields */
.sub_heading {
    color: #666666;
    margin: auto;
    padding: 0px;
    font-size: 1.2em;
    width: 70%;
}


/* Single line inputs */
.single_line_input {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 1em;
    margin-bottom: 4%;
}


/* >>>>>>>>>>>>>>>>> Footer (Component) <<<<<<<<<<<<<<<<< */

.footer_component h3{
    position: relative;
    margin-top: 0;
}

/* Footer Text */
#footer_text {
  position: static;
  left: 50%;
  color: white;
  padding-top: 2%;
}