<!-- ABOUT:
      HTML file for Search Page -->
<!-- DESCRIPTION:
    Search page of GeoTopium. Allows the user to search for any Flag Image-Country Name pair by typing in the partial or full name of a country -->

<!DOCTYPE html>
<html>

<head>
    <!--Include the Vue framework-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Link to CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="../Style/style.css">
    <link rel="stylesheet" type="text/css" href="search.css">

    <!-- Set responsiveness to screen size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add image icon to the title -->
    <link rel="shortcut icon" type="image/x-icon" href="../Assets/globe_icon.png">

    <!-- Set the title -->
    <title id="page_title">{{title}}</title>

</head>


<!-- Header Section -->
<header>
    <!--Navigation bar-->
    <div id="nav" class="nav">
        <!--Logo image linking to Home Page-->
        <a href="../Home/home.html"><img id="logo" src="../Assets/GeoTopium_logo.PNG"></img></a>

        <!-- Anchor Tags to link to other pages -->
        <a id="nav" href="../Home/home.html">{{home}}</a>
        <a id="nav" href="../Flags Difficulty Levels/flags_difficulty_levels.html">{{flags}}</a>
        <a id="nav" href="../Countries Difficulty Levels/countries_difficulty_levels.html">{{countries}}</a>
        <a id="nav" href="../Search/search.html" style="color: yellow;">{{search}}</a>
        <a id="nav" href="../Contacts/contact.html">{{contact}}</a>

        <!--Drop-down menu icon - visible on smaller screen sizes-->
        <a id="nav" class="icon" href="javascript:void(0);" onclick="resizeNav()"><img class="icon"
                src="../Assets/three_line_icon.png"></img></a>
    </div>

</header>


<!-- Body Section -->
<!-- Containers within: Page Banner, Contact -->

<body>

    <!-- Page Banner -->
    <div id="page_banner_container">
        <p>
            {{heading}}
        </p>
    </div>

    <br>


    <!-- Main Section -->
    <div id="search">

        <!-- Search (Input) -->
        <div class="sub_heading">
            <label for="search_query_input">{{searchInputHeading}}</span></label>
            <input v-focus id="search_query_input" class="single_line_input" type="text" v-model="searchQueryInput"
                placeholder="Enter partial or full name of any country" v-bind:id="rawId | formatId">
        </div>

        <!-- Countries Container -->
        <div id="countries_container">
            <!-- Custom Component: Country Component -->

            <!-- NOTE: The <country-component> tag renders a Flag Image-Country Name pair -->
            <country-component id="country_component" v-for="country in filteredList"
                v-bind:flag_image="country.image_src" v-bind:country_name="country.name" v-bind:title="country.name">
            </country-component>

            <!-- Pre-search message (with enter/leave transition) -->
            <transition name="slide-fade">
                <!-- Render only if the "isSearchConducted" Boolean variable is "true" -->
                <div id="pre_search_message" v-if="isSearchConducted">
                    {{preSearchMessage}}
                </div>
            </transition>

        </div>

    </div>


    <!-- Footer Component -->
    <footer>
        <div class="footer_component">
            <h3 id="footer_text">{{footerText}}</h3>
        </div>
    </footer>

</body>


<!-- Script to implement automatic focus on an input element upon the loading of the page -->
<script>
    // Custom Directive "v-focus"
    // To focus the cursor onto the Search input element
    // This assumes that the Search input element uses the <input v-focus> tag
    Vue.directive('focus', {
        // When the bound element is inserted into the DOM...
        inserted: function (el) {
            // Focus the element
            el.focus()
        }
    })
</script>


<!-- Link External JavaScript -->
<script src="search.js"></script>

</html>