/* ABOUT:
    Styling sheet for the Home page*/

/* ============================== Tags ==================================================*/
p, button, h1, h2, h3 {
    color: black;
    text-align: center;
    border-radius: 5px;
    border-color: #316C85;
}

/*============================== Components and Containers ==============================*/

/* >>>>>>>>>>>>>>>>> Side Panel (Component) <<<<<<<<<<<<<<<<< */

/* Containers within:
    -> Page Banner
    -> Countries
*/


/* Page Banner Container */
#page_banner_container {
    background-color: #4FC9B3;
    height: 14vh;
    border: 3px solid green;
    position: relative;
    background: linear-gradient(-90deg, #46e1f5, #a283f7);
    box-shadow: 2px 5px 15px 2px grey;
    border-radius: 15px;
}

#page_banner_container p {
    color: #540A6D;
    font-size: 4.5vh;
    font-weight: 600;
    padding: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Countries Container */
#countries_container {
    background-color: #B3EDFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 2px 5px 15px 2px grey;
    border-radius: 0 0 10px 10px;
}

/* Country Component */
#country_component {
  padding: 20px;
  font-size: 0.7em;
}


/* >>>>>>>>>>>>>>>>> Footer (Component) <<<<<<<<<<<<<<<<< */

.footer_component h3{
    position: relative;
}

/* Footer Text */
#footer_text {
  position: static;
  left: 50%;
  color: white;
}



/*============================== Responsiveness =========================================*/

/* When screen size is 620px or smaller*/
@media screen and (max-width: 620px) {

    /* >>>>>>>>>>>>>>>>> General Layout <<<<<<<<<<<<<<<<< */

    /* Reduce the content down to one longer scrolling column, with no dividing border */
    .column {
        float: none;
        width: 100%;
    }

    /* Remove border style */
    .content {
        border-style: none;
    }
}